body {
    font-family:Trebuchet MS,Arial;
    color:#454545;
    font-size:20px;
    margin:2em auto;
    max-width:800px;
    padding:1em;
    line-height:1.4;
    text-align:justify;
}

img {
    max-height: 600px;
    width:auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #929293;
}

span.navContainer {
    position:relative;
    top: 10px;
}

a.navLink {
    color:#454545;
    font-size:25px;
    padding: 5px;
    margin-top: 2000000px;
    margin: 10px;
    border: 5px solid #454545;
}

a.navLink:hover {
    border: 5px solid #929293;
    color: #929293;
}

a.navLink#left {
    float: left;
}

a.navLink#right {
    float:right;
}
